
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background: url("/images/floral3.jpg") repeat fixed center;
  text-align: center;
  min-height: 100%;
      position: relative;
}

#main-container {
  text-align: center;
  height:100%;
  /*height:770px;*/
}

#main-title {
  height:100px;
  background: url("/images/title3.png") no-repeat center;
  margin: 0 auto;
}

#main-gif {
  max-height:200px;
  border: 30px double orange;
  border-image: url("/images/frame1.png") 18% 15% 18% 15% stretch;
  box-shadow: 2px 2px 2px #000;
}

#new-gif-button {
  background: url("/images/plate3.png") no-repeat center;
  width:100px;
  height:30px;
  margin:0 auto;
  margin-top:10px;
  border: 0px solid white;
  border-radius: 5px;
  line-height: 25px;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 1px 1px #000;
}

#drawers-spacer {
  height:400px;
  width:30px;
  margin: 0 auto;
}

#cat-frame {
  position: absolute;
  width:100px;
  bottom:94%;
  margin-left: 190px;
}

#cat-frame-background {
  position: absolute;
  width:60px;
  height:39px;
  bottom:104%;
  margin-left:210px;
  background-color: rgb(255,255,255);
}

#cat-frame-cat {
  position: absolute;
  width:60px;
  bottom:104%;
  margin-left:210px;
}

#drawers {
  position: absolute;
  bottom:0;
  /*position: relative;*/
  width:100%;
  margin: 0 auto;
  height:270px;
  background: url("/images/drawers1.png") no-repeat bottom;
}

.rainbow {
-webkit-animation:rainbow 1s infinite;
-ms-animation:rainbow 1s infinite;
-o-animation:rainbow 1s infinite;
animation:rainbow 1s infinite;
}
@-webkit-keyframes rainbow {
0% {background-color: #ff0000;}
10% {background-color: #ff8000;}
20% {background-color: #ffff00;}
30% {background-color: #80ff00;}
40% {background-color: #00ff00;}
50% {background-color: #00ff80;}
60% {background-color: #00ffff;}
70% {background-color: #0080ff;}
80% {background-color: #0000ff;}
90% {background-color: #8000ff;}
100% {background-color: #ff0080;}
}
@-ms-keyframes rainbow {
0% {background-color: #ff0000;}
10% {background-color: #ff8000;}
20% {background-color: #ffff00;}
30% {background-color: #80ff00;}
40% {background-color: #00ff00;}
50% {background-color: #00ff80;}
60% {background-color: #00ffff;}
70% {background-color: #0080ff;}
80% {background-color: #0000ff;}
90% {background-color: #8000ff;}
100% {background-color: #ff0080;}
}
@-o-keyframes rainbow {
0% {background-color: #ff0000;}
10% {background-color: #ff8000;}
20% {background-color: #ffff00;}
30% {background-color: #80ff00;}
40% {background-color: #00ff00;}
50% {background-color: #00ff80;}
60% {background-color: #00ffff;}
70% {background-color: #0080ff;}
80% {background-color: #0000ff;}
90% {background-color: #8000ff;}
100% {background-color: #ff0080;}
}
@keyframes rainbow {
0% {background-color: #ff0000;}
10% {background-color: #ff8000;}
20% {background-color: #ffff00;}
30% {background-color: #80ff00;}
40% {background-color: #00ff00;}
50% {background-color: #00ff80;}
60% {background-color: #00ffff;}
70% {background-color: #0080ff;}
80% {background-color: #0000ff;}
90% {background-color: #8000ff;}
100% {background-color: #ff0080;}
}

@media (max-width:400px) {
  #main-title {
    background-size: contain;
  }
  #main-gif {
    background-size: contain;
    width:150px;
  }
  /*#drawers-spacer {
    height:100px;
  }
  #main-container {
    height: 100%;
  }*/
}

@media (max-width:620px) {
  #cat-frame {
    margin-left: -40px;
  }
  #cat-frame-background {
    margin-left: -20px;
  }
  #cat-frame-cat {
    margin-left: -20px;
  }
}

@media (min-height:770px) {
  #main-container {
    position: static;
  }
}
